.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 224, 224);
    min-height: 100vh;
}
body {
    margin: 0px;
}
.formu{
    display: flex;
    flex-direction: column;
}
.name, .password{
    margin-top: 10px;
}
.botonEnviar{
    display: flex;
    justify-content: center;
    margin: 16px;
}

.formulario_input{
    width: 100%;
    height: 32px; 
}

.formulario_input:hover{
    border: 3px solid rgb(69, 12, 226);    
}

.formulario_input-name{    
    width: 100%;
    height: 32px;
}

.formulario_input-correo{
    width: 100%;
    height: 32px;
}

.formulario_input-name:hover{
    border: 3px solid red;
}

.formulario_input-correo:hover{
    border: 3px solid green;
}