.tabla{
    display: grid;
    background-color: rgb(195, 195, 196);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    font-family: monospace;
}
.encabezado{
    display: flex;
    justify-content: center;
    background-color: rgb(123, 124, 124);
}
.contenido{
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
}

.contenido:hover:nth-of-type(2n){
    background-color:yellow;
}
.contenido:hover{
    background-color: green;
}
p{
    padding: 5px;
}
body {
    margin: 0px;
}